<%- include('../_layouts/adminheader') %>

<h2 class="page-title">Add a product</h2>
<a href="/admin/products" class="btn btn-primary">Back to all products</a>
<br><br>

<form method="post" action="/admin/products/add-product" enctype="multipart/form-data">
   
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" value="<%= name %>" placeholder="Name">
    </div>
    
    <div class="form-group">
        <label for="">Description</label>
        <textarea name="desc" class="form-control" cols="30" rows="10" placeholder="Description"><%= desc %></textarea>
    </div>
    
    <div class="form-group">
        <label for="">Brand</label>
        <select name="brand" class="form-control">
            <% brands.forEach(function(brand){ %>
                <option value="<%= brand.slug %>"><%= brand.name %></option>
            <% }); %>
        </select>
    </div>
    <div class="form-group">
        <label for="">Category</label>
        <select name="category" class="form-control">
            <option value="">select category</option>
            <% categories.forEach(function(category){ %>
                <option value="<%= category.slug %>"><%= category.name %></option>
            <% }); %>
        </select>
    </div>
    
    <div class="form-group">
        <label for="">Price</label>
        <input type="text" class="form-control" name="price" value="<%= price %>" placeholder="Price">
    </div>

    <div class="form-group">
        <label for="">Product Code</label>
        <input type="text" class="form-control" name="product_code" value="<%= product_code %>" placeholder="Product Code">
    </div>

    <div class="form-group">
        <label for="">Image</label>
        <input type="file" class="form-control" name="image" id="img">
        <img src="#" id="imgPreview" alt="">
    </div>
    
    <button class="btn btn-primary">Submit</button>
</form>

<%- include('../_layouts/adminfooter') %>