<%- include('../_layouts/adminheader') %>

<link href="assets/css/invoice.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

<div class="container main-container">
  <div class=" invoice-wrapper content">
    <div class="row">
      <div class="col-lg-12 col-xs-12 col-sm-12 col-xs-12">
        <h1 class="section-title-inner">
          <span>
            <img src="/images/logo.png" alt="Company"/> Invoice
            <i class="fa fa-print"></i
          ></span>
        </h1>
        <div class="row userInfo">
          <div class="col-lg-12">
            <h2 class="block-title-2">Invoice Details</h2>
          </div>

          <div class="col-sm-12" style="height:40px;">
            <table class="w100">
              <tr>
                <td>
                  <div class="invInfo text-left">
                    <h3>
                      <span
                        ><strong>Invoice Ref:&nbsp;</strong><%=order.orderNo %> </span
                      >&nbsp;&nbsp;
                      <span><%=order.date.toDateString() %></span>
                    </h3>

                    <!-- <p><span> <strong>Status: </strong></span> <span><% if(order.paid){%> Paid <%}else{%> Not Paid <%}%></span></p> -->
                  </div>
                </td>
              </tr>
            </table>

            <hr class="invHr" />
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
            <div class="order-box">
              <div class="order-box-header">
                Client Information:
              </div>

              <div class="order-box-content">
                <div class="address">
                  <p>
                    <strong><%=order.user.name%></strong
                    >&nbsp;<%=order.user.address_line1%>&nbsp;<%=order.user.city%>&nbsp;<%=order.user.county%>&nbsp;<%=order.user.postcode%>&nbsp;<%=order.user.country%><br />
                    Phone: <%=order.user.telephone%> &nbsp; Email:
                    <%=order.user.email%>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-sm-6 col-xs-12 col-md-6">
            <div class="order-box">
              <div class="order-box-header">
                Peyment To:
              </div>

              <div class="order-box-content">
                <div class="address">
                  <p>
                    <strong>Mr T Ganesharuban</strong>, 279 Mays Lane, Barnet,
                    Hertfordshire EN5 2LY<br />
                    Phone: +44 7877 884697 &nbsp; Email: bizzcandy@gmail.com
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div style="clear: both"></div>

          <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 clearfix">
            <div class="order-box invTable">
              <div class="order-box-header">
                Invoice Details
              </div>

              <div class="order-box-content ">
                <div class="table-responsive">
                  <table class="orderTable table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Product Code</th>
                        <th>VAT</th>
                        <th>Quantity</th>
                        <th>Unit Cost</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% order.items.forEach((item, index) => {%>
                      <tr>
                        <td scope="row"><%=index + 1%></td>
                        <td><%=item.title%></td>
                        <td><%=item.product_code%></td>
                        <td><%if(item.vat){%>1 <%}else{%> 0 <%}%></td>
                        <td><%=item.qty%></td>
                        <td><%=parseFloat(item.price).toFixed(2)%></td>
                        <td align="right">
                          <%=parseFloat(item.qty * item.price).toFixed(2)%>
                        </td>
                      </tr>
                      <%})%>

                      <tr class="invTableFooter">
                        <td colspan="8">
                          <table
                            width="200"
                            cellspacing="0"
                            cellpadding="6"
                            border="0"
                            align="right"
                          >
                            <tbody>
                              <tr>
                                <td valign="middle" align="left">
                                  <div>
                                    <span>
                                      Subtotal
                                    </span>
                                  </div>
                                </td>
                                <td valign="middle" align="right" class="">
                                  <div>
                                    <span>
                                      £ <%=parseFloat(subTotal).toFixed(2)%>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  valign="middle"
                                  align="left"
                                  class=""
                                  style=""
                                >
                                  <div style="">
                                    <span>
                                      Tax
                                    </span>
                                  </div>
                                </td>
                                <td
                                  valign="middle"
                                  align="right"
                                  class="title_color"
                                >
                                  <div>
                                    <span class="text_container">
                                      £ <%=parseFloat(vat).toFixed(2)%>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                              <tr bgcolor="#ECF0F1" class="price">
                                <td valign="middle" align="left">
                                  <div>
                                    <span class="">
                                      Total
                                    </span>
                                  </div>
                                </td>
                                <td style="text-align: right">
                                  <div>
                                    <span class="price-total">
                                      £ <%=parseFloat(total).toFixed(2)%>
                                    </span>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div style="clear: both"></div>

          <div class="col-lg-12 clearfix hidePrint">
            <ul class="pager">
              <li class="previous pull-right">
                <a class="btn btn-print" onclick="javascript:window.print();">
                  <i class="fa fa-print"></i> Print
                </a>
              </li>
              <li class="next pull-left">
                <a href="/admin/orders/<%=order._id%>"> ← Back to Order</a>
              </li>
            </ul>
          </div>
        </div>
        <!--/row end-->
      </div>
    </div>
  </div>
</div>

<%- include('../_layouts/adminfooter') %>
