<% include _layouts/header %>

<% if (count > 0) { %>
<div class="row products">  
    <% products.forEach(function(p){ %>
            <div class="col-xs-12 col-md-4 p">
                <a class="pa" href="/products/<%= p.brand %>/<%= p.slug %>">
                    <img class="pimage" src="<%= productImageUrl %>/<%= p.image %>" alt="">
                </a>
                <div class="product-info">
                    <h5><%= p.name %></h4>
                    <h5>£<%= parseFloat(p.price).toFixed(2) %></h4>
                    <% if (loggedIn) { %>
                    <!--
                    <p>
                        Availability: <%if(p.instock) {%> <span class="inStock">In Stock</span> <%} else {%><span class="outOfStock">Out of Stock</span> <%}%>
                    </p>
                    -->
                    <p><a href="/cart/add/<%= p.slug %>">Add to cart</a>&nbsp;&nbsp;<a class="vd" href="/products/<%= p.brand %>/<%= p.slug %>">View Details</a>  </p>
                    <% } else {%>
                    <p>Please login to purchase items.</p>
                    <% } %>
                </div>               
            </div>       
        <% }); %>
    
</div>
<% } else {%>
<p>No products available for your search. Please search again with different words.</p>
<% }%>

<% include _layouts/footer %>