<div class="container main-container headerOffset globalPaddingBottom">

        <!-- Main component call to action -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="home-intro">
                    <h2>American Food & Drinks, importing over 500 containers a year<br/> <span>Experience</span> - sweets, drinks & more </h2>
                </div>
                <hr>
            </div>
        </div>
    
        <div style="clear:both"></div>
        <div class="row">
            <div class="col-sm-10 show-case-wrapper center-block relative">
                <div id="productShowCase" class="owl-carousel owl-theme">


                    <% promotions.forEach(promotion => { %>
                        <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="<%= promotionImageUrl %>/<%= promotion.image %>" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title"><%= promotion.title %></h1>                               
                                    
                                    <div class="details-description">
                                       <%- promotion.description %>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    <% }); %>                    

                </div>
                <!--/#productShowCase -->
    
                <div style="clear:both;"></div>
                <a id="ps-next" class="ps-nav"> <i class="fa fa-angle-right"></i> </a> <a id="ps-prev" class="ps-nav"> <i
                    class="fa fa-angle-left"></i> </a></div>
            <!--/.show-case-wrapper -->
        </div>
    
    
          <!--/.section-block-->            
          <div class="width100 section-block">
                <h3 class="section-title"><span> BRAND</span> <a id="nextBrand" class="link pull-right carousel-nav"> <i
                        class="fa fa-angle-right"></i></a> <a id="prevBrand" class="link pull-right carousel-nav"> <i
                        class="fa fa-angle-left"></i> </a></h3>
        
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="no-margin brand-carousel owl-carousel owl-theme">                                                         
                            <li class="brand-box"><a href="/products/jelly-belly"><img src="images/brands/jelly-belly.png" alt="Jelly Belly"></a>                                </li>
                            <li class="brand-box"><a href="/products/airheads"><img src="images/brands/airheads.jpg" alt="Airheads"></a>                                </li>
                            <li class="brand-box"><a href="/products/cowtales"><img src="images/brands/cowtales.png" alt="Cowtales"></a></li>
                            <li class="brand-box"><a href="/products/ferrara"><img src="images/brands/ferrara.png" alt="Ferrara"></a></li>
                            <li class="brand-box"><a href="/products/hershey"><img src="images/brands/hershey.png" alt="Hershey"></a></li>
                            <li class="brand-box"><a href="/products/ice-breakers"><img src="images/brands/ice-breakers.png" alt="Ice Breakers"></a></li>
                            <li class="brand-box"><a href="/products/jolly-rancher"><img src="images/brands/jolly-rancher.jpg" alt="Jolly Rancher"></a></li>
                            <li class="brand-box"><a href="/products/laffy-taffy"><img src="images/brands/laffy-taffy.png" alt="Laffy Taffy"></a></li>
                            <li class="brand-box"><a href="/products/m&m"><img src="images/brands/m-and-m.jpg" alt="M and M"></a></li>
                            <li class="brand-box"><a href="/products/mike-&-ike"><img src="images/brands/mike-and-Ike.png" alt="Mike and Ike"></a></li>
                            <li class="brand-box"><a href="/products/nerds"><img src="images/brands/nerds.png" alt="Nerds"></a></li>
                            <li class="brand-box"><a href="/products/pop-rocks"><img src="images/brands/pop-rocks.png" alt="Pop Rocks"></a></li>
                            <li class="brand-box"><a href="/products/pretzel"><img src="images/brands/pretzel.png" alt="Pretzel"></a></li>
                            <li class="brand-box"><a href="/products/snickers"><img src="images/brands/snikers.png" alt="Snikers"></a></li>
                            <li class="brand-box"><a href="/products/sour-patch"><img src="images/brands/sour-patch.png" alt="Sour Patch"></a></li>
                            <li class="brand-box"><a href="/products/swedish-fish"><img src="images/brands/swedish-fish.png" alt="Swedish Fish"></a></li>
                            <li class="brand-box"><a href="/products/twizzlers"><img src="images/brands/twizzlers.png" alt="Twizzlers"></a></li>
                            <li class="brand-box"><a href="/products/warheads"><img src="images/brands/warheads.jpg" alt="Warheads"></a></li>
                            <li class="brand-box"><a href="/products/others"><img src="images/brands/more-brands.png" alt="click for more brands"></a></li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.section-block-->
    
        <div class="row featuredPostContainer ">
            <div class="featured-category"></div>
            <div class="col-lg-12">
                <h3 class="boxes-title-1"><span>FEATURES PRODUCT</span></h3>
            </div>
            <div style="clear:both;"></div>

            <div id="productslider" class="owl-carousel owl-theme">
               
                <% products.forEach(function(p){ %>
                <div class="item">
                    <div class="product">
                        
                        <div class="image">                            
                            <a href="/products/<%= p.brand %>/<%= p.slug %>"><img src="<%= productImageUrl %>/<%= p.image %>" alt="img" class="img-responsive"></a>                            
                        </div>
                        <div class="description">
                            <h4><%= p.name %></h4>                                                      
                        </div>

                        <div class="price"><span>£<%= parseFloat(p.price).toFixed(2) %></span></div>

                        <div class="action-control">
                            <% if (loggedIn) { %>
                            <a href="/cart/add/<%= p.slug %>" class="btn btn-primary"> 
                                <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> 
                            </a>
                            <% } else {%>
                            <p>Please login to purchase items.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }); %>
                                
            </div>
            <!--/.productslider-->
    
        </div>
        <!--/.featuredPostContainer-->
    </div>
    <!-- /main container -->
    
<div class="w100 sectionCategory">
    <div class="container">
        <div class="sectionCategoryIntro text-center">
            <h1>Featured Categories</h1>            
        </div>
        <div class="row subCategoryList clearfix">
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">                   
                    <a class="subCategoryThumb" href="/products/categories/category/american-chewing-gum">
                        <img src="/images/categories/american-chewingum.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="/products/categories/category/american-chewing-gum" class="subCategoryTitle"><span>American Gum</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="/products/categories/category/cerials">
                        <img src="/images/categories/cereals.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="/products/categories/category/cerials" class="subCategoryTitle"><span>Cereals</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="/products/categories/category/hanging-bags">
                        <img src="/images/categories/hanging-bags.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="/products/categories/category/hanging-bags" class="subCategoryTitle"><span>Hanging Bags</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="/products/categories/category/harry-potter">
                        <img src="/images/categories/harry-potter.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="/products/categories/category/harry-potter" class="subCategoryTitle"><span>Harry Potter</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="/products/categories/category/marvel-character">
                        <img src="/images/categories/marvel-charater.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="/products/categories/category/marvel-character" class="subCategoryTitle"><span>Marvel Character</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="/products/categories/category/seasonal">
                        <img src="/images/categories/seasonal.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="/products/categories/category/seasonal" class="subCategoryTitle"><span>Seasonal</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="/products/categories/category/soft-drinks">
                        <img src="/images/categories/softdrinks.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="/products/categories/category/soft-drinks" class="subCategoryTitle"><span>Soft Drinks</span></a>
                </div>
            </div>                        
        </div>
        <!--/.row-->

    </div>
    <!--/.container-->
</div>
<!--/.sectionCategory-->