<div class="container main-container headerOffset globalPaddingBottom">

        <!-- Main component call to action -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="home-intro">
                    <h2>American Food & Drinks, importing over 700 containers a year<br/> <span>Experience</span> - sweets, drinks & more </h2>
                </div>
                <hr>
            </div>
        </div>
    
        <div style="clear:both"></div>
        <div class="row">
            <div class="col-sm-10 show-case-wrapper center-block relative">
                <div id="productShowCase" class="owl-carousel owl-theme">
                    <div class="product-slide">
                        <div class="col-sm-5 product-slide-left">
                            <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-bertie-botts.jpg" class="img-responsive"></a>
                        </div>
                        <div class="col-sm-7">
                            <div class="product-slide-inner ">
                                <h1 class="product-title">2/24 - 35g HP Bertie Bott's Every Flavour Beans.</h1>                               
                                    
                                <div class="details-description">
                                    <p>Taste the most iconic candy from the Wizarding World of Harry Potter, Bertie Bott’s Every Flavor Beans from Jelly Belly</p>
                                    <p>The Grab-n-Go bag has a fresh new look!</p>
                                    <p>Each package comes a mix of 20 random flavors with flavors like Earwax, Soap or Vomit.</p>
                                    <p>Strong appeal to kids, tweens, teens and even adults</p>
                                    <p></p>Unit Dimensions: 5 cm L x  1.4 cm W x 8.2 cm H</p>
                                    <p>Caddy Dimensions: 22 cm L x  13 cm W x 8.4 cm H</p>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-jelly-slugs.jpg" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title">2/12 - 56g Harry Potter Jelly Slugs (Palm Oil Free)</h1>                               
                                        
                                    <div class="details-description">
                                        <p>Taste the most delicious slugs mentioned in the Wizarding World of Harry Potter!</p>
                                        <p>The Grab-n-Go bag has a fresh new look!</p>
                                        <p>Each package comes a mix of 5 random tasty flavors: Juicy Pear, Sour Cherry, Banana, Tangerine and Watermelon.</p>
                                        <p>Strong appeal to kids, tweens, teens and even adults</p>
                                        <p>Unit: 10 cm L x 1.3 cm W x 14 cm H</p>
                                        <p>Caddy: 25 cm L x 14 cm W x 9 cm H</p>
                                    </div>                                
                                </div>
                            </div>
                    </div>
                    <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-chocolate-creatures.jpg" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title">24 – 15g HP Chocolate Creatures</h1>                               
                                        
                                    <div class="details-description">
                                        <p>Enter the Wizarding World of Harry Potter with a fantastic new chocolate item from Jelly Belly</p>
                                        <p>These chocolates are in the form of creatures from Harry Potter and include Hedwig, Fluffy, Fang, Aragog, Crookshanks and a thestral.</p>
                                        <p>BLIND BAG PRODUCT WILL INCREASE PURCHASES: Each bag is packed with one of six random creatures AND a random exclusive collectible creature sticker!</p>
                                        <p>Strong appeal to kids, tweens, teens and even adults</p>
                                        <p>Unit Dimensions: 15 cm L x 7 cm W x 1 cm H</p>
                                        <p>Caddy: 23cm L x 15cm W x 10cm H</p>
                                        <p>Case: 25cm L x 17cm W x 13cm H</p>                                        
                                    </div>                                
                                </div>
                            </div>
                    </div>
                    <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-chocolate-frog.jpg" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title">24 – 15g HP Chocolate Frog</h1>                               
                                        
                                    <div class="details-description">
                                            <p>Hop into the Wizarding World of Harry Potter with the best selling chocolate item from Jelly Belly</p>
                                            <p>The chocolate staple of the Harry Potter Franchise has a fresh new look!</p>
                                            <p>Each package comes with a random collectible Wizard Card.</p>
                                            <p>Strong appeal to kids, tweens, teens and even adults</p>
                                            <p>Unit Dimensions: 15 cm L x 7 cm W x 1 cm H</p>
                                            <p>Caddy: 23cm L x 15cm W x 10cm H</p>
                                            <p>Case: 25cm L x 17cm W x 13cm H</p>                                             
                                    </div>                                
                                </div>
                            </div>
                    </div>                    
                    <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-chocolate-wands.jpg" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title">2/6 – 42g Harry Potter’s Chocolate Wand</h1>                               
                                        
                                    <div class="details-description">
                                        <p>Enter the Wizarding World of Harry Potter with a fantastic new chocolate item from Jelly Belly</p>
                                        <p>Each wand box will include a sheet of Magical Spells</p>
                                        <p>Strong appeal to kids, tweens, teens and even adults</p>
                                        <p>Unit Dimensions: 285mm tall x 65mm wide x 38mm deep</p>
                                        <p>Caddy Dimensions: 237mm long, 68mm wide, 190mm tall</p>
                                        <p>Case dimensions: 255mm long, 155mm wide, 317mm tall</p>
                                    </div>                                
                                </div>
                            </div>
                    </div>
                    <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-gummi-creatures.jpg" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title">2/24 42g Harry Potter Gummi Creatures (Palm Oil Free)</h1>                               
                                        
                                    <div class="details-description">
                                            <p>Enter the Wizarding World of Harry Potter with a fantastic new Gummi item from Jelly Belly</p>
                                            <p>Gummis are in the form of creatures from Harry Potter</p>
                                            <p>Image of caddy for visual only – will contain assortment of all 6 gummi creatures</p>
                                            <p>Strong appeal to kids, tweens, teens and even adults</p>
                                            <p>Unit dimensions:  14.7 cm L x 7.5 cm W x 5 cm H</p>
                                            <p>Caddy: 23cm L x 15cm W x 10cm H</p>
                                            <p>Case: 32cm L x 25cm W x 11cm H </p>
                                            
                                    </div>                                
                                </div>
                            </div>
                    </div>
                    <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-hermione-chocolate-wands.jpg" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title">2/6 – 42g Hermione & Ron’s Chocolate Wands</h1>                               
                                        
                                    <div class="details-description">
                                            <p>Enter the Wizarding World of Harry Potter with a fantastic new chocolate item from Jelly Belly</p>
                                            <p>Each wand box will include a sheet of Magical Spells</p>
                                            <p>Strong appeal to kids, tweens, teens and even adults</p>
                                            <p>Unit Dimensions: 285mm tall x 65mm wide x 38mm deep</p>
                                            <p>Caddy Dimensions: 237mm long, 68mm wide, 190mm tall</p>
                                            <p>Case dimensions: 255mm long, 155mm wide, 317mm tall</p>                                          
                                    </div>                                
                                </div>
                            </div>
                    </div>
                    <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-chocolate-crests.jpg" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title">12 – 28g Harry Potter Chocolate Crests</h1>                               
                                        
                                    <div class="details-description">
                                            <p>Enter the Wizarding World of Harry Potter with a fantastic new chocolate item from Jelly Belly</p>
                                            <p>Comes with the house crests of Gryffindor, Slytherin, Hufflepuff, and Ravenclaw.</p>
                                            <p>Strong appeal to kids, tweens, teens and even adults</p>
                                            <p>Unit Dimensions: 285mm tall x 63mm wide x 16mm deep</p>
                                            <p>Caddy Dimensions: 207mm long, 65mm wide, 191mm tall</p>
                                            <p>Case Dimensions: 230mm long, 80mm wide, 325mm tall</p>
                                            
                                    </div>                                
                                </div>
                            </div>
                    </div>
                    <div class="product-slide">
                            <div class="col-sm-5 product-slide-left">
                                <a class="product-slide-img"> <img alt="img" src="images/promotions/harrypotter-dumbledore-chocolate-wand.jpg" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="product-slide-inner ">
                                    <h1 class="product-title">2/6 – 42g Albus Dumbledore’s Chocolate Wand</h1>                               
                                        
                                    <div class="details-description">
                                            <p>Enter the Wizarding World of Harry Potter with a fantastic new chocolate item from Jelly Belly</p>
                                            <p>Each wand box will include a sheet of Magical Spells</p>
                                            <p>Strong appeal to kids, tweens, teens and even adults</p>
                                            <p>Unit Dimensions: 285mm tall x 65mm wide x 38mm deep</p>
                                            <p>Caddy Dimensions: 237mm long, 68mm wide, 190mm tall</p>
                                            <p>Case dimensions: 255mm long, 155mm wide, 317mm tall</p>                                            
                                    </div>                                
                                </div>
                            </div>
                    </div>

                </div>
                <!--/#productShowCase -->
    
                <div style="clear:both;"></div>
                <a id="ps-next" class="ps-nav"> <i class="fa fa-angle-right"></i> </a> <a id="ps-prev" class="ps-nav"> <i
                    class="fa fa-angle-left"></i> </a></div>
            <!--/.show-case-wrapper -->
        </div>
    
    
          <!--/.section-block-->            
          <div class="width100 section-block">
                <h3 class="section-title"><span> BRAND</span> <a id="nextBrand" class="link pull-right carousel-nav"> <i
                        class="fa fa-angle-right"></i></a> <a id="prevBrand" class="link pull-right carousel-nav"> <i
                        class="fa fa-angle-left"></i> </a></h3>
        
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="no-margin brand-carousel owl-carousel owl-theme">                                                         
                            <li class="brand-box"><a href="/products/jelly-belly"><img src="images/brands/jelly-belly.png" alt="Jelly Belly"></a>                                </li>
                            <li class="brand-box"><a href="/products/airheads"><img src="images/brands/airheads.jpg" alt="Airheads"></a>                                </li>
                            <li class="brand-box"><a href="/products/cowtales"><img src="images/brands/cowtales.png" alt="Cowtales"></a></li>
                            <li class="brand-box"><a href="/products/ferrara"><img src="images/brands/ferrara.png" alt="Ferrara"></a></li>
                            <li class="brand-box"><a href="/products/hershey"><img src="images/brands/hershey.png" alt="Hershey"></a></li>
                            <li class="brand-box"><a href="/products/ice-breakers"><img src="images/brands/ice-breakers.png" alt="Ice Breakers"></a></li>
                            <li class="brand-box"><a href="/products/jolly-rancher"><img src="images/brands/jolly-rancher.jpg" alt="Jolly Rancher"></a></li>
                            <li class="brand-box"><a href="/products/laffy-taffy"><img src="images/brands/laffy-taffy.png" alt="Laffy Taffy"></a></li>
                            <li class="brand-box"><a href="/products/m&m"><img src="images/brands/m-and-m.jpg" alt="M and M"></a></li>
                            <li class="brand-box"><a href="/products/mike-&-ike"><img src="images/brands/mike-and-Ike.png" alt="Mike and Ike"></a></li>
                            <li class="brand-box"><a href="/products/nerds"><img src="images/brands/nerds.png" alt="Nerds"></a></li>
                            <li class="brand-box"><a href="/products/pop-rocks"><img src="images/brands/pop-rocks.png" alt="Pop Rocks"></a></li>
                            <li class="brand-box"><a href="/products/pretzel"><img src="images/brands/pretzel.png" alt="Pretzel"></a></li>
                            <li class="brand-box"><a href="/products/snickers"><img src="images/brands/snikers.png" alt="Snikers"></a></li>
                            <li class="brand-box"><a href="/products/sour-patch"><img src="images/brands/sour-patch.png" alt="Sour Patch"></a></li>
                            <li class="brand-box"><a href="/products/swedish-fish"><img src="images/brands/swedish-fish.png" alt="Swedish Fish"></a></li>
                            <li class="brand-box"><a href="/products/twizzlers"><img src="images/brands/twizzlers.png" alt="Twizzlers"></a></li>
                            <li class="brand-box"><a href="/products/warheads"><img src="images/brands/warheads.jpg" alt="Warheads"></a></li>
                            <li class="brand-box"><a href="/products/others"><img src="images/brands/more-brands.png" alt="click for more brands"></a></li>
                        </ul>
                    </div>
                </div>
                <!--/.row-->
            </div>
            <!--/.section-block-->
    
        <div class="row featuredPostContainer ">
            <div class="featured-category"></div>
            <div class="col-lg-12">
                <h3 class="boxes-title-1"><span>FEATURES PRODUCT</span></h3>
            </div>
            <div style="clear:both;"></div>

            <div id="productslider" class="owl-carousel owl-theme">
               
                <% products.forEach(function(p){ %>
                <div class="item">
                    <div class="product">
                        
                        <div class="image">                            
                            <a href="/products/<%= p.brand %>/<%= p.slug %>"><img src="<%= productImageUrl %>/<%= p.image %>" alt="img" class="img-responsive"></a>                            
                        </div>
                        <div class="description">
                            <h4><%= p.name %></h4>                                                      
                        </div>

                        <div class="price"><span>£<%= parseFloat(p.price).toFixed(2) %></span></div>

                        <div class="action-control">
                            <% if (loggedIn) { %>
                            <a href="/cart/add/<%= p.slug %>" class="btn btn-primary"> 
                                <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> 
                            </a>
                            <% } else {%>
                            <p>Please login to purchase items.</p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }); %>
                                
            </div>
            <!--/.productslider-->
    
        </div>
        <!--/.featuredPostContainer-->
    </div>
    <!-- /main container -->
    
<div class="w100 sectionCategory">
    <div class="container">
        <div class="sectionCategoryIntro text-center">
            <h1>Featured Categories</h1>            
        </div>
        <div class="row subCategoryList clearfix">
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="#">
                        <img src="/images/categories/american-chewingum.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="#" class="subCategoryTitle"><span>American Gum</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="#">
                        <img src="/images/categories/cereals.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="#" class="subCategoryTitle"><span>Cereals</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="href="#"">
                        <img src="/images/categories/hanging-bags.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="#" class="subCategoryTitle"><span>Hanging Bags</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="#">
                        <img src="/images/categories/harry-potter.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="#" class="subCategoryTitle"><span>Harry Potter</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="#">
                        <img src="/images/categories/marvel-charater.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="#" class="subCategoryTitle"><span>Seasonal</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="#">
                        <img src="/images/categories/seasonal.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="#" class="subCategoryTitle"><span>Soft Drinks</span></a>
                </div>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-4  col-xs-mini-6  text-center ">
                <div class="thumbnail">
                    <a class="subCategoryThumb" href="#">
                        <img src="/images/categories/softdrinks.png" class="img-rounded " alt="img"> 
                    </a> 
                        <a href="#" class="subCategoryTitle"><span>Sour Candy</span></a>
                </div>
            </div>                        
        </div>
        <!--/.row-->

    </div>
    <!--/.container-->
</div>
<!--/.sectionCategory-->