<% include _layouts/header %>

<div class="container main-container headerOffset">    
    <!--left column-->
    <div class="col-lg-3 col-md-3 col-sm-12">
            <% include _layouts/sitenav.ejs %>
        </div>
        <h1 class="page-header"><%= p.name %></h1>
        
    
        <div class="col-xs-12 col-md-5">
            <img class="spi" src="<%= productImageUrl %>/<%= p.image %>" alt="">
            <br>
        </div>
         <div class="col-xs-12 col-md-7">
            <p><%= p.desc %></p>
            <% if (loggedIn) { %>
            <p>£<%= parseFloat(p.price).toFixed(2) %></p>       
            <p><a class="btn btn-info" href="/cart/add/<%= p.slug %>">Add to cartt</a></p>
            <% } else {%>
            <p>Please login to see price.</p>
            <% } %>
        </div>   
    
</div>

<% include _layouts/footer %>